body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(0, 187, 255),rgb(3, 229, 101));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#counterlabel {

    display: block;
    text-align: center;
    font-family: system-ui;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    color: white;
    
}

#gridcontainer {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin-right: 600px;
    margin-left: 600px;
}

.buttons{
    font-family: system-ui;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 1px 1px 10px;
    border: solid rgb(0, 128, 70);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 128, 70);
}

.buttons:hover{
    background-color: rgb(156, 153, 153);
}

@media (max-width: 2880px) {
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to right,rgb(0,187,235),rgb(3,229,101));
    }

    #gridcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
}   